<ul class="task-menu">
    <li>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" >
            <div class="inbox">
                <div class="inbox-icon">1</div>
                <div class="inbox-text">Inbox</div>
                <div class="inbox-number">2</div>
            </div>
        </a>
    </li>
    <li>
        <a [routerLink]="['/body2']" routerLinkActive="router-link-active" >
            <div class="today">
                <div class="today-icon">2</div>
                <div class="today-text">Today</div>
                <div class="today-number">2</div>
            </div>
        </a>
    </li>
    <li>
        <div class="upcoming">
            <div class="upcoming-icon">3</div>
            <div class="upcoming-text">Upcoming</div>
            <div class="upcoming-number">2</div>
        </div>
    </li>
    <li>
        <div class="filter">
            <div class="filter-icon">4</div>
            <div class="filter-text">Filtes & Lables</div>
            <div class="filter-number">2</div>
        </div>
    </li>
</ul>

<div class="project">
    <div class="ti-angle-down"></div>
    <div class="project-text">
        <b>Project</b>
    </div>
    <div class="ti-plus"></div>
</div>
